{% load static %}
{% load sass_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}">
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""
    />
    <script
            src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <title>Pan kanapka</title>

</head>
<body>
<div id="mapid"></div>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
<form method="post" action="{% url 'add' %}">{% csrf_token %}
    <input id="autocomplete_search" name="address" type="text" class="form-control" placeholder="Search" required/>
    <input id="name" type="text" name="name" required/>
    <input id="latit" type="hidden" name="latitude" value=""/>
    <input id="longit" type="hidden" name="longitude" value=""/>
    <button class="addressButton" type="submit">Zmień</button>
</form>
<table class="table">
    <thead class="table__head">
    <tr class="table__head-tr">
        <th class="table__head-th">name</th>
        <th class="table__head-th">address</th>
    </tr>
    </thead>
    <tbody class="table__body">
    {% for place in places %}
        <tr class="table__body-tr">
            <td class="table__body-td">{{ place.name }}</td>
            <td class="table__body-td">{{ place.address }}</td>
            <td class="table__body-td"><a href="{% url 'delete' place.id %}">Delete</a></td>
            <td class="table__body-td"><a href="{% url 'subscribe' place.id %}">Subscribe</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if user.is_authenticated %}
    <p>You are logged as {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>Please log in or register</p>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'signup' %}">register</a>
{% endif %}

<script>
    let places = {{places|safe}};
    let user = {{ user.id|safe }};
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgNgxfwxU2uxt5pfqnRlaS5n73LnPRL14&libraries=places"></script>
<script src="{% static  'js/main.js' %}"></script>
</body>
</html>